<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmq.lecture.mapper.BookLectureMapper">
  <resultMap id="BaseResultMap" type="com.wmq.lecture.entity.BookLecture">
    <result column="stu_number" jdbcType="VARCHAR" property="stuNumber" />
    <result column="room_number" jdbcType="VARCHAR" property="roomNumber" />
    <result column="lec_number" jdbcType="VARCHAR" property="lecNumber" />
    <result column="rrow" jdbcType="INTEGER" property="rrow" />
    <result column="collumn" jdbcType="INTEGER" property="collumn" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="arrived" jdbcType="INTEGER" property="arrived" />
    <result column="integrity" jdbcType="INTEGER" property="integrity" />
    <result column="comments" jdbcType="LONGVARCHAR" property="comments" />
    <result column="commented" jdbcType="INTEGER" property="commented" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <insert id="insert" parameterType="com.wmq.lecture.entity.BookLecture">
    insert into book_lecture (stu_number, room_number, lec_number, rrow, collumn, time, date,score,title)
    values (#{stuNumber,jdbcType=VARCHAR}, #{roomNumber,jdbcType=VARCHAR}, #{lecNumber,jdbcType=VARCHAR}, 
      #{rrow,jdbcType=INTEGER}, #{collumn,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR},
      #{score,jdbcType=DOUBLE},#{title,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select stu_number, room_number, lec_number, rrow, collumn, time, date, score,title
    from book_lecture
  </select>

  <select id="topLecture" resultType="com.wmq.lecture.entity.resulttype.TopLecture">
      select lecture.title,book_lecture.lec_number , count(book_lecture.lec_number) totalLecture
        from book_lecture,lecture where lecture.lec_number=book_lecture.lec_number group by
        book_lecture.lec_number,lecture.title
        order by totalLecture desc limit 10
  </select>

  <select id="topStudent" resultType="com.wmq.lecture.entity.resulttype.topStudent">
    select name,stu_number,count(stu_number)stuCount
    from book_lecture,users where stu_number = uid group by stu_number,name
    order by stuCount desc limit 10
  </select>

  <select id="topSpeaker" resultType="com.wmq.lecture.entity.resulttype.TopSpeaker">
    select speaker,book_lecture.lec_number , count(book_lecture.lec_number) totalLecture
    from book_lecture,lecture where lecture.lec_number=book_lecture.lec_number
    group by book_lecture.lec_number,speaker
    order by totalLecture desc
  </select>

  <select id="getLectureBookers" resultMap="BaseResultMap">
   select stu_number,name as room_number,rrow,collumn,integrity,users.score,arrived from book_lecture,users where stu_number = uid and lec_number = #{lecNumber}
  </select>
  <update id="checkSign" parameterType="java.lang.String">
        update book_lecture set arrived = 1 where stu_number = #{stuNumber} and lec_number = #{lecNumber}
        update users set score =score + #{score},integrity = integrity + 1 where uid = #{stuNumber}
    </update>

  <select id="selectParticipatedLecture" resultType="com.wmq.lecture.entity.resulttype.ParticipatedLecture">
    select time,date,score,commented,comments,lec_room,lecture.title,speaker,introduction,content from book_lecture,lecture
where book_lecture.lec_number = lecture.lec_number and stu_number = #{stuNumber} and arrived = 1;
  </select>

  <update id="doComment" parameterType="com.wmq.lecture.entity.BookLecture">
    update book_lecture set comments = #{comments}, commented = 1 where stu_number = #{stuNumber} and title = #{title}
  </update>
  <select id="getPastLecture" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from book_lecture where `date` &lt; '2020-01-02' &amp; `time` &lt; '10:00-12:00' and commented = 1;
  </select>
</mapper>