<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmq.lecture.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.wmq.lecture.entity.Users">
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="integrity" jdbcType="INTEGER" property="integrity" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select uid,name,integrity,role,score,status from users
  </select>

  <select id="selectUserByUid" resultMap="BaseResultMap">
    select * from users where uid = #{uid};
  </select>

  <select id="selectRoleByUid" resultType="java.lang.String">
    select role from users where uid = #{uid,jdbcType=VARCHAR}
  </select>

  <!-- 将excel数据批量插入数据库 -->
  <insert id="insertExcelData" parameterType="java.util.List">
    INSERT INTO users (uid,name,password,integrity,role,score,status)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.uid},
      #{item.name},
      #{item.password},
      #{item.integrity},
      #{item.role},
      #{item.score},
      #{item.status}
      )
    </foreach>
  </insert>

  <select id="topScoreUser" resultMap="BaseResultMap">
    select uid,name,score from users order by score desc limit 10
  </select>
  <select id="topIntegrityUser" resultMap="BaseResultMap">
    select uid,name,integrity from users order by integrity desc limit 10
  </select>

  <insert id="insert" parameterType="com.wmq.lecture.entity.Users">
    insert into users(uid,name,password,integrity,role,score,status) values(#{uid},#{name},#{password},60,'admin',0,0);
  </insert>
  <delete id="deleteByPrimaryKey">
    delete from users where uid = #{uid};
  </delete>
  <update id="updateUserInfo" parameterType="com.wmq.lecture.entity.Users">
    update users set `name` = #{name},integrity = #{integrity},score = #{score},status = #{status} where uid = #{uid}
  </update>
  <update id="changePassword" parameterType="java.lang.String">
    update users set password = #{newPassword} where uid = #{uid} and password=#{oldPassword}
  </update>

</mapper>